.gr-frame {
    pointer-events: none;
}

/* 4K и огромные экраны */
@media (min-width: 2560px) {

}

/* Большие десктопы */
@media (min-width: 1920px) {
    .graphics {
        display: flex;
        gap: 20px;
    }

    .grafana {
        display: grid;
        width: fit-content;
    }

    .grafana-profit {
        width: 1430px !important;
        height: 424px !important;
    }

    .grafana-sales {
        width: 200px;
        height: 200px;
    }
}

/* Средние десктопы */
@media (min-width: 1280px) {

}

/* Ноутбуки и маленькие десктопы */
@media (min-width: 1024px) {
    .grafana-profit {
        width: 100%;
        height: 200px;
    }
}

/* Планшеты (альбомная ориентация) */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Особые стили для вертикальных мобильных устройств */
@media (max-width: 768px) and (orientation: portrait) {
    .grafana-profit {
        width: 100%;
        height: 200px;
    }

    .grafana-sales {
        width: 100%;
    }
}