@import "dashboard.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background: #f6f6f8;
    height: 50px;
    position: absolute;
    right: 0;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.clock {
    border-bottom: black 1px solid;
}

.header-right {
    position: absolute;
    top: 8px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    align-items: center;
}

.notification-block {
    width: 25px;
    display: flex;
    flex-wrap: wrap;
}

.header-menu-icon {
    width: 25px;
    height: 25px;
}

.user-avatar {
    height: 35px;
    width: 35px;
    background: #202747;
    border-radius: 100%;
}

.left-nav {
    -webkit-appearance: none;
    position: absolute;
    background: #ffffff;
    height: 100%;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    z-index: 2;
}

.block-logo {
    display: flex;
    flex-wrap: nowrap;
    color: black !important;
}

.menu {
    color: #808080FF;
}

.main-menu {
    position: absolute;
    left: 8px;
    top: 0;
}

.nav {
    margin: -16px;
    touch-action: manipulation;
}

.menu-icon {
    width: 30px;
}

.logout {
    position: absolute;
    left: 8px;
    bottom: 15px;
}

.logout-btn {
    transform: rotate(180deg);
}

.content {
    position: absolute;
    right: 0;
    top: 50px;
    background: #f6f6f8;
    padding: 10px;
    height: calc(100% - 50px);
}

.gr-frame {
    pointer-events: none;
}

/* 4K и огромные экраны */
@media (min-width: 2560px) {

}

/* Большие десктопы */
@media (min-width: 1920px) {
    .graphics {
        display: flex;
        gap: 20px;
    }

    .grafana {
        display: grid;
        width: fit-content;
    }

    .grafana-profit {
        width: 1430px !important;
        height: 424px !important;
    }

    .grafana-sales {
        width: 200px;
        height: 200px;
    }
}

/* Средние десктопы */
@media (min-width: 1280px) {

}

/* Ноутбуки и маленькие десктопы */
@media (min-width: 1024px) {
    .header {
        width: calc(100vw - 250px);
    }

    .notification-block {
        margin-top: 6px;
    }

    .badge {
        height: 14px;
        width: 14px;
        padding: 1.5px !important;
        margin: -10px -8px;
        font-size: 10px !important;
    }

    .left-nav {
        width: 250px;
    }

    .logo {
        width: 80px !important;
        height: 80px !important;
        margin: -4px 0 25px -25px;
    }

    .logo-text {
        display: flex;
        flex: none;
        margin-top: 22px;
        font-size: large;
    }

    .menu {
        width: 30px;
    }

    .nav-link {
        display: flex !important;
        align-items: center;
        gap: 5px;
    }

    .left-menu-text {
        flex: none;
    }

    .content {
        width: calc(100% - 250px);
    }

    .grafana-profit {
        width: 100%;
        height: 200px;
    }
}

/* Планшеты (альбомная ориентация) */
@media (min-width: 768px) and (max-width: 1024px) {

}

/* Особые стили для вертикальных мобильных устройств */
@media (max-width: 768px) and (orientation: portrait) {
    .header {
        width: calc(100vw - 50px);
    }

    .notification-block {
        margin-top: 2px;
    }

    .badge {
        height: 12px;
        width: 12px;
        padding: 3px !important;
        margin: -4px -6px;
        font-size: 8px !important;
    }

    .left-nav {
        width: 50px;
    }

    .logo {
        width: 60px !important;
        height: 60px !important;
        margin: 2px 0 20px -16px;
    }

    .logo-text {
        display: none;
    }

    .menu {
        width: 30px;
    }

    .left-menu-text {
        display: none;
    }

    .content {
        width: calc(100% - 50px);
    }

    .grafana-profit {
        width: 100%;
        height: 200px;
    }

    .grafana-sales {
        width: 100%;
    }
}